.feedback {
  padding: 40px 0;
}

.feedback__title {
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
}

.feedback__description {
  padding: 0 20px 20px;
  font: normal 14px/24px @font-family;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
