.hotel-search {
  text-align: center;
}

.hotel-search__title {
  margin: 0 20px;
  padding: 25px 0 20px;
  font: bold 21px/26px @font-family;
}

.hotel-search__description {
  margin: 0 20px 35px;
}

.hotel-search__button {
  display: block;
  margin: 0 20px 50px;
  padding: 16px 10px;
  font: bold 21px/26px @font-family;
  color: #ffffff;
  background: #81b3d2;//для наглядности, потом убрать, когда будут стили для кнопок
}
