.intro {
  height: 389px;
  padding-top: 90px;
  background:
    url("../img/bg-intro-triangle-mobile.svg") no-repeat 49.8% 100%,
    @blue url("../img/bg-back-mobile@1x.jpg") no-repeat bottom;
  background-size: auto 100%;
}

.intro--mini {
  height: 158px;
  padding-top: 52px;
  background:
    url("../img/bg-intro-triangle-mobile.svg") no-repeat 49.8% 100%,
    @blue url("../img/bg-back-mobile@1x.jpg") no-repeat bottom;
  background-size: auto 246.2%;
}

.intro__title {
  display: block;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .intro {
    height: 518px;
    padding-top: 77px;
    background: @blue;
  }

  .intro--mini {
    height: 290px;
    padding-top: 95px;
    background: @blue;
  }
}

@media (min-width: @desktop-width) {
  .intro--mini {
    height: 301px;
    padding-top: 102px;
  }
}
