.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.page-footer__visitsedona {
  padding: 35px 20px;
}

.page-footer__link {
  font: bold 21px/26px @font-family;
  color: #000000;
}

.page-footer__copyright {
  padding: 40px 20px 25px;
}
