.photo {
  padding: 23px 0 20px;
  border-bottom: 1px solid @gray;
}

.photo__figure {
  margin: 0 20px;
}

.photo__image {
  display: block;
  margin: 0 auto 20px;
}

.photo__name {
  font: bold 14px/24px @font-family;
  color: #000000;
}

.photo__author {
  margin-bottom: 15px;
  font: normal 14px/24px @font-family;
  text-transform: none;
}

.photo__likes {
  font: bold 14px/22px @font-family;
  color: #000000;
}

.photo__finger {
  width: 34px;
  height: 22px;
  padding: 0;
  background: yellow;//потом убрать
  border: none;
  vertical-align: top;
}

@media (min-width: @tablet-width) {
  .photo {
    width: 324px;
    padding: 0;
    border: 1px solid red;//потом убрать
  }

  .photo:first-of-type {
    width: 100%;
  }

  .photo__figure {
    margin: 0;
  }

  .photo__image {
    margin: 0;
  }

  .photo__author {
    margin-bottom: 0;
  }

  .photo__caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background: @light-gray;
  }

  .photo:nth-of-type(2n+3) .photo__caption {
    background: #eaeaea;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    width: 33.3%;
  }

  .photo__figure {
    position: relative;
  }

  .photo__caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(178, 178, 178, 0.3);
  }

  .photo__name,
  .photo__author,
  .photo__likes {
    color: #ffffff;
  }
}
