.recommendations {
  padding: 35px 20px 9px;
  text-align: left;
}

.recommendations__title {
  position: relative;
  margin-bottom: 14px;
  padding-left: 50px;
  font: bold 18px/26px @font-family;
  color: #000000;

  &::before {
    .pseudo-element();
    left: -2px;
    top: -12px;
    width: 43px;
    height: 43px;
    border: 1px solid red;//потом убрать
  }
}

.recommendations__description {
  margin-bottom: 28px;
  padding-left: 50px;
}

.recommendations__description br {
  display: none;
}

@media (min-width: @tablet-width) {
  .recommendations {
    display: flex;
    padding: 56px 0 33px;
    text-align: center;
  }

  .recommendations__item {
    width: 33.3%;
    padding: 0 50px;
  }

  .recommendations__item--gift {
    order: 1;
    padding: 0 45px;
  }

  .recommendations__title {
    margin-bottom: 21px;
    padding-left: 0;
    padding-top: 103px;
    font: bold 21px/26px @font-family;
  }

  .recommendations__title::before {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 78px;
    height: 76px;
  }

  .recommendations__description {
    padding: 0;
  }

  .recommendations__description br {
    display: inline;
  }

  .recommendations__title--house::before {
    background: url("../img/sprite.svg#icon-house") no-repeat bottom;
  }

  .recommendations__item--gift::before {
    background: url("../img/sprite.svg#icon-gift") no-repeat bottom;
  }

  .recommendations__title--burger::before {
    background: url("../img/sprite.svg#icon-burger") no-repeat bottom;
  }
}

@media (min-width: @desktop-width) {
  .recommendations {
    padding: 56px 0 54px;
  }
}
