.textarea {
  border-bottom: none;
}

.textarea__input {
  width: 100%;
  margin-bottom: 45px;
  padding: 15px 22px;
  font: bold 18px/26px @font-family;
  color: #000000;
  background: #f2f2f2;
  border: none;
}
