.textarea {
  border-bottom: none;
  margin-bottom: 45px;
}

.textarea__input {
  width: 100%;
  padding: 15px 22px;
  font: bold 18px/26px @font-family;
  color: #000000;
  background: @light-gray;
  border: none;
}

@media (min-width: @tablet-width) {
  .textarea {
    width: 100%;
  }
}
