.video {
  padding-top: 35px;
}

.video__title {
  margin-bottom: 35px;
  font: bold 18px/26px @font-family;
  text-align: center;
  color: #000000;
}

.video__description {
  margin-bottom: 40px;
  font: normal 14px/24px @font-family;
  text-align: center;
}

.video__file {
  width: 100%;//временно, потом убрать
  border: 1px solid red;//временно, потом убрать
}

.video__wrapper {
  width: 280px;//временно, потом убрать
  height: 111px;//временно, потом убрать
  margin: 0 auto;
  border: 1px solid red;//временно, потом убрать
}
